{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- 引入 ECharts 文件 使用 static 关键字-->
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
  </head>
</html>
<body>
  <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
  <div id="main" style="width:1280px;height:850px;"></div>
  <script type="text/javascript">

   // 基于准备好的 dom，初始化 echarts 实例
   metrics = {{ data|safe }};
   console.log("metric:", metrics);
   var min_values = metrics.min
   var max_values = metrics.max
   var avg_values = metrics.avg
   var myChart = echarts.init(document.getElementById('main'));

   myChart.setOption(option = {
     title: {
       text: metrics.method_name,
       subtext: 'Haha',
       left: 'center'
     },
     tooltip: {
       trigger: 'axis',
       axisPointer: {
         type: 'cross',
         animation: false,
         label: {
           backgroundColor: '#ccc',
           borderColor: '#aaa',
           borderWidth: 1,
           shadowBlur: 0,
           shadowOffsetX: 0,
           shadowOffsetY: 0,
           textStyle: {
             color: '#222'
           }
         }
       },
       formatter: function (params) {
         return params[2].name + '<br />' + params[2].value;
       }
     },
     grid: {
       left: '13%',
       right: '4%',
       bottom: '3%',
       containLabel: true
     },
     xAxis: {
       type: 'category',
       data: metrics.timestamp,
       /* axisLabel: {
        *   formatter: function (value, idx) {
        *     var date = new Date(value);
        *     return idx === 0 ? value : [date.getMonth() + 1, date.getDate()].join('-');
        *   }
        * },*/
       splitLine: {
         show: true,
       },
       boundaryGap: false,
     },
     yAxis: {
       'type': 'value',
       axisLabel: {
         formatter: function (val) {
           return val;
         }
       },
       axisPointer: {
         label: {
           formatter: function (params) {
             return params;
           }
         }
       },
       splitNumber: 3,
       splitLine: {
         show: true
       }
     },
     series: [{
       name: 'lower bound',
       type: 'line',
       data: min_values,
       lineStyle: {
         normal: {
           opacity: 0
         }
       },
       stack: 'metrics',
       symbol: 'none'
     }, {
       name: 'upper bound',
       type: 'line',
       data: max_values,
       lineStyle: {
         normal: {
           opacity: 0
         }
       },
       areaStyle: {
         normal: {
           color: '#cce'
         }
       },
       stack: 'metrics',
       symbol: 'none'
     }, {
       type: 'line',
       data: avg_values,
       hoverAnimation: false,
       symbolSize: 6,
       itemStyle: {
         normal: {
           color: '#c2352'
         }
       },
       showSymbol: false
     }]
   });
  </script>
</body>
