<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style type="text/css">
     .chart { height:240px; }
    </style>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
</html>
<body>
  <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
  <div class="container">
    {% for group in groups %}
    <div class="row">
      <h2> {{ group.group_name }} </h2>

      {% for chart in group.charts %}
      <div id="{{chart.chart_name}}-{{forloop.counter}}" class="chart col-md-4">
      </div>

      <script type="text/javascript">
       // 基于准备好的 dom，初始化 echarts 实例
       var backend_data = {{ chart | safe }};
       var div_id = "{{chart.chart_name}}-{{forloop.counter}}";

       function generate_option(chart) {
         var min_values = chart.lower_bounds
         var max_values = chart.upper_bounds
         var avg_values = chart.means

         option = {
           title: {
             // text: "{{ group.group_name }}",
             subtext: chart.chart_name,
             left: 'center'
           },
           tooltip: {
             trigger: 'axis',
             axisPointer: {
               type: 'cross',
               animation: false,
               label: {
                 backgroundColor: '#ccc',
                 borderColor: '#aaa',
                 borderWidth: 1,
                 shadowBlur: 0,
                 shadowOffsetX: 0,
                 shadowOffsetY: 0,
                 textStyle: {
                   color: '#222'
                 }
               }
             },
             formatter: function(params) {
               return params[2].name + '<br />' + params[2].value;
             }
           },
           grid: {
             left: '13%',
             right: '4%',
             bottom: '3%',
             containLabel: true
           },
           xAxis: {
             type: 'category',
             data: chart.timestamps,
             /* axisLabel: {
              *   formatter: function (value, idx) {
              *     var date = new Date(value);
              *     return idx === 0 ? value : [date.getMonth() + 1, date.getDate()].join('-');
              *   }
              * },*/
             splitLine: {
               show: true,
             },
             boundaryGap: false,
           },
           yAxis: {
             'type': 'value',
             axisLabel: {
               formatter: function(val) {
                 return val;
               }
             },
             splitNumber: 3,
             splitLine: {
               show: true
             }
           },
           series: [{
             name: 'lower bound',
             type: 'line',
             data: min_values,
             lineStyle: {
               normal: {
                 opacity: 0
               }
             },
             stack: 'metrics',
             symbol: 'none'
           }, {
             name: 'upper bound',
             type: 'line',
             data: max_values,
             lineStyle: {
               normal: {
                 opacity: 0
               }
             },
             areaStyle: {
               normal: {
                 color: '#ccc'
               }
             },
             stack: 'metrics',
             symbol: 'none'
           }, {
             type: 'line',
             data: avg_values,
             hoverAnimation: false,
             symbolSize: 6,
             itemStyle: {
               normal: {
                 color: '#c23531'
               }
             },
             showSymbol: false
           }]
         }
         return option;
       }
       var div_chart = echarts.init(document.getElementById(div_id));
       div_chart.setOption(generate_option(backend_data));
      </script>
      {% endfor %}

    </div>
    {% endfor %}
  </div>
</body>
